/* navbar */
.header-title-container{
    margin-left: 3%;
}

/* footer */
footer {
    width: 100%;
    height: 8%; /* footer의 높이 */
    position: absolute;  
    bottom: 0;
    left: 0;
    background-color: #E2E2E2;
    display: flex;
    align-items: center;
}

.input-form{
    width: 80%;
    height: 90%;
}

.input-button{
    width: 20%;
    height: 90%;
}

.send-icon{
    height: 90%;
}