.chat-content{
    height:350px; 
    overflow-y:scroll;
}
.line{
    margin-top: 10px; 
    display:flex;
}
.chat-box{
    background: #eee; 
    padding:5px; 
    max-width: 200px;
}
.mine{
    margin-left:auto;
}
