/* 그리니아이콘 누르면 나오는 알림창 */
.MuiPaper-root{
    background: #fff;
    border-radius: 20px !important;
    padding: 15px;
} 
h4{
margin-bottom: 0px!important;
background: #2ecc71;
padding: 15px;
color:#fff;
border-radius: 20px;
}

/* 회식  (그 후 또 누르면 나오는 창 */
.css-xbq1j9-MuiTypography-root-MuiDialogTitle-root{
    margin: 5px;
   
                         /*   background-color: #2ecc71 ; */
     color: #fff;  
    padding : 5px;
                     /* height: 74px; */
    padding-top:17px;
    margin-bottom: 11px;
} 
/* 전체틀 속 틀 */
.dd{
}
/* 그 안 틀 */
.calendar_table{
 
    /* margin-right: 70px!important; */
}
/* 왼쪽글자 가운데 */
#row_title{
    text-align: center !important;
margin-right: 0px !important;
padding: 0px !important;
width: 84px !important;
}
/* 승낙버튼 */
.suc{
    background-color: #f39c12;
    color: #fff;
    border: #f39c12;
    border-radius: 14px;
    text-align: center!important;
    margin-left: 60px;
    padding: 0px !important;
    margin: auto;
    padding: 0px !important;
    width: 71px;
    height: 43px;
}
.ss {
    text-align: center!important;
}
.ggg{
    padding-left: 0px !important;
    padding : 0px !important;
    width: 50px;
}
.ggg2{
   width: 300px;
}
.suc2{
    width: 159px;
}
.suc3{
/*     text-align: center!important;
    margin-left: 100px!important; */
}

 
/* 세번쨰 창 */
/* 뒤로가기버튼 */
.bacc{
  /*   border-radius: 20px !important; */
  text-align: center;
  float: right;
  background-color: #f39c12;
  border-radius: 10px;
  margin-right: 2px;
  margin-left:10px;

  /* padding-left: 7px;
  padding-rightt: 10px; */
  padding-top: 3px;
  padding-bottom: 7px!important; 
/* border-bottom: #f39c12 10px solid; */
  margin-rigt:10px !important;
  width: 43px;
  height: 37px;
  font-size:19px;
}
.css-xbq1j9-MuiTypography-root-MuiDialogTitle-root{
    border-radius: 20px!important;
    margin:0px ;
}


/* 네번째창 */
.css-xbq1j9-MuiTypography-root-MuiDialogTitle-root{
    padding:15px;
    padding-top: 17px
}


.MuiRating-root .MuiRating-sizeMedium .css-1bosw7e-MuiRating-root{
    margin-top: 10px !important;
 
}
.MuiDialogActions-root .MuiDialogActions-spacing .css-hlj6pa-MuiDialogActions-root{
    margin:20px;
} 

 
 
.css-ypiqx9-MuiDialogContent-root{
 
    padding: 0px !important;
    padding-left: 10px !important;
    margin-top:18px;
    }




    /* 달력 현재날짜 */
    .css-18icojf-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
      background:  #2ecc71!important
    }



     


`

    .css-hlj6pa-MuiDialogActions-root>:not(:first-of-type){
        color:#fff;
    }


    .css-9nvqg8-MuiButtonBase-root-MuiButton-root{
  background: #f39c12;  
        border-radius: 15px;
        color: #fff !important;
    }






    
    /* 달력 아래 cancel ok버튼 */
    .css-hlj6pa-MuiDialogActions-root{
margin-right:20px;  
 
    }