.test{
    width: 90%;
    margin: auto;
    margin-top: 60px;
   
}

.s_day{
    background-color: white;
}

.s_time{
    background-color: white;
}

.e_day{
    background-color: white;
}

.e_time{
    background-color: white;
}

.contents{
    background-color: white;
}

.location{
    background-color: white;
}

.registration_btn{
    width: 90vw; 
    margin: auto; 
    background-color: #CEDD38; 
    border-radius: 20px;
}