.show_event_info {
    width: 350px;
    padding: 15px;
}
.show_event_title {
    text-align: center;
    border-radius: 20px;
    color:white;
    width: 100%;
    padding: 7px;
}
#row_title {
    padding-right: 15px;
    font-weight: 600;
    font-size: 18px;
    text-align: end;
}

.show_event_table {
    margin: 15px;
    /* width: 330px; */
}
.show_event_table p {
    margin: 10px 0;
}

.event_list_title {
    background-color: #2ecc71;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    color:white;
}
.event_add_btn {
    background-color: #f39c12;
    color: #fff;
    border: #f39c12;
    border-radius: 14px;
    margin: 11px 7px;
    height: 45px;
}

.event_list_btn {
    background-color: #f39c12;
    color: #fff;
    border: #f39c12;
    border-radius: 14px;
    font-size: 15px;
    margin-left: 70%;
}

.event_info_title {
    text-align: left;
    padding: 10px 20px;
    word-spacing: 2px;

}

.ask_greenee {
    height: 40%;
    width: 50%;
}

.delete_event {
    padding: 15px;
    text-align: center;
}
.delete_event_title {
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 7px;
}
