@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.divLogin{
    /* width: 90%; */
    height: 100vh; /* 높이최대치 */
    /* padding: 20px; */     /* 밑에 하얀부분 제거(?)*/
    background-size: cover;
    margin: auto;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greenee_img{
    width: 30vh;
    padding: 20px;  
    background: rgb(215, 237, 188);
   /*  margin-top:10px; */
}

.large_f{
    font-family: 'MaplestoryOTFBold';
    font-size: 35px;
}

.gr_greenee{
    margin-top: -10%;
    font-family: 'MaplestoryOTFBold';
    font-size: 60px;
    text-align: center;
    color: #2ecc71;
}

/* 로그인 회원가입 버튼 */
.MuiButtonBase-root.login_btn{
    width:80vw; 
    margin: auto;
    margin-Bottom: 8px; 
    background-color: #f39c12; 
    border-radius: 20px;
}

.MuiButtonBase-root.signup_btn{
    width: 80vw; 
    margin: auto;
    margin-Bottom: 8px; 
    /* background: linear-gradient(to left,#CEDD38,#AFE372);  */
    background-color:#2ecc71;
    border-radius: 20px;
}

/* 회원가입 버튼*** */
.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color: #AFE372;
}

