.divLogin{
    /* width: 90%; */
    height: 100vh; /* 높이최대치 */
    /* padding: 20px; */     /* 밑에 하얀부분 제거(?)*/
    background-size: cover;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greenee{
    width: 60%;
    padding: 20px;  
    background: rgb(215, 237, 188);
   /*  margin-top:10px; */
}

/* 회원가입 버튼 */
.signup_btn{
    width: 80vw; 
    margin: auto;
    margin-Bottom: 8px; 
    /* background: linear-gradient(to left,#CEDD38,#AFE372);  */
    background-color:#AFE372;
    border-radius: 20px;
}

/* 회원가입 버튼*** */
.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color: #AFE372;
}

.login_btn{
    width:80vw; 
    margin: auto;
    margin-Bottom: 8px; 
    background-color: #CEDD38; 
    border-radius: 20px;
}
