.patch_page{
  height: 100vh;
}

.return_btn{
  width: 90%;
  display: inline-block;
  margin-top: 5vh;
}

.patch_contents{
  text-align: center;
  background-color: #ffffff;
}
.title{
  font-size: 40px;
  padding: 2.5vh;
  margin: auto;
  display: flex;
  text-align: center;
}

.sub_title{
  font-size: 20px;
  margin: auto;
  text-align: center;
  padding-bottom: 2.5vh;
  border-bottom: 1px solid #000000;
}

.pat_foot{
  border-top: 1px solid #000000;
  background-color: #ffffff;
  padding-bottom: 4vh;
}
.foot_p{
  font-size: 20px;
  margin: auto;
}
