.check_page{
    height: 100vh;
    background-color:#D7EDBC;
    margin-top: 0;
    margin-block-start: 0;
}

.title{
    font-family:'S-CoreDream-5light';
    text-align: center;
    display: inline;
    flex-direction: column;
    height: 50px;
    margin-top: 0%;
    margin-bottom: 5%;
    vertical-align: middle;
}

.greeneecomplete_c1{
    width: 60%;
    margin-top: 10%;
}


.back_btn1{
    background-color: #D7EDBC;
    position: absolute;
    border: none;
    display: inline;
    float: left;
    margin-top: 3vh;
    margin-left: 5%;
    margin-right: -5%;
    margin-bottom: 10vh; 
}

.continue_btn1{
    font-family: 'MaplestoryOTFBold';
    font-size: 20px;
    color: #ffffff;    
    background-color: #2ecc71; 
    border-radius: 20px;
    margin-bottom: 1vh;
}
.nexttime_btn2{
    font-family: 'MaplestoryOTFBold';
    font-size: 20px;
    color: #ffffff;    
    background-color: #f39c12; 
    border-radius: 20px;

}

.greeneecomplete2{
    font-family: 'MaplestoryOTFBold';
    text-align: center;
    font-size: 30px;
    color: #00cc00;
    font-weight: bold;
    margin-top:13%;
    margin-bottom: 20%;
    letter-spacing: 3px;
}

.space{
    width: 100px;
    height: auto;
    display: inline-block;
}