@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

/*  body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
} */
/*
button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}
button:hover {
  color: #04c;
}

.App {
  display: flex;
} */

/* SIDEBAR STYLES */

.app-sidebar {
    width: 100%; 
/*   height: 100vh; */
  border-right: 1px solid #ddd;
  margin-bottom: 230px;
 /*  background: #7e7e7e; */
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  background: #2ecc71;
  color: #fff;
}
.app-sidebar-header h1 {
  margin: 0;
  font-family: 'MaplestoryOTFBold';
}

.memo_back_btn {
  background-color:#2ecc71;
  border: 0; 
  color: white; 
  font-size: 25px;
  font-weight: bold; 
}

.app-sidebar-notes {
/*   height: calc(100vh - 78px); */
  overflow-y: scroll;
}
.app-sidebar-note {
  padding: 15px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.app-sidebar-note button {
  color: crimson;
}
.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
/*   display: block; */
  color: #999;
}

.app-sidebar-note:hover {
  background: #ddd;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: white;
  color: black;
}

.app-sidebar-note.active, .app-sidebar-note.active small{
  background-color: #81fab4 !important
}
.app-sidebar-note.false, .app-sidebar-note.false small{
  background-color: #F0FDDD
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 100%;
 /*  height: 100vh; */
}

.no-active-note {
  width: 100%;
 /*  height: 100vh; */
 height:0px;
 /*  line-height: 100vh; */

  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-main-note-edit {
  font-family:'MaplestoryOTFBold';
  padding: 5px;
  position: fixed;
  bottom: 55px;
  width: 99.9%;
  background: #ddecc5;
  border-radius: 5px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  /* margin-bottom: 5px; */
  width: 100%;
  /* height: calc(50vh - 130px); */
  padding: 10px;
  resize: none;
  font-family: inherit;
}
.app-main-note-edit input {
  height: 50px;
  /* font-size: 2rem; */
  font-size: 25px;
}
.app-main-note-edit textarea {
  height: 200px;
  font-size: 20px;
}

/* Preview */
.app-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}


.addbt{
  background: #f39c12;
  border: solid 3px;
  border-radius: 15px;
  border-color: #fff;
  color: #fff;
  height: 30px;
  margin-top: 5px;
}
.delbt{
  background: #f39c12;
  border: solid 3px;
  border-radius: 15px;
  border-color: #fff;
  color: #fff !important; 
}