/* 승민 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 세형 */

/* 홈 +버튼 */
.MuiBox-root.css-in5br9 {
/*   z-index: 20; */
}
/* 푸터  바텀메뉴 */
.MuiBottomNavigation-root.css-3mtf2r-MuiBottomNavigation-root {
/*   z-index: 20; */
}
/* 푸터 바텀메뉴 */
.MuiBottomNavigation-root{
  background:#73baad;
}
/* 로그인화면 캐릭터 이미지 */
.greenihead{
/*    width: 30%; */
  margin-bottom: 5%; 
/*    margin-left: 10%; */
font-size: 23px;
    font-variant: all-petite-caps;
}
/* 로긴창 */
.divLogin{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
/*   margin-top: 5%; */
  padding:1px;
}
/* 로긴창 글씨*/
.greeniWelcome{
  font-size: large;
  font-weight: bold;
  margin-bottom: 10%;
}
/* + 버튼 */
.css-1suf56w-MuiButtonBase-root-MuiFab-root{
  background: #73baad;
}
/* +버튼 틀 */
/* .css-in5br9{
background: #73baad;
} */
/* 그리니 챗봇 배경? */
.greeniChatbot{
background: #ffffff;
}

/* fullcalendar */
/* tr{
  background-color: #02826a;

} */



