/* 승민 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
body {
  margin: auto;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
code {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* 세형 */

/* 홈 +버튼 */
.MuiBox-root.css-in5br9 {
  z-index: 20;
  margin-right:auto;
}
/* 푸터  바텀메뉴 */
.MuiBottomNavigation-root.css-3mtf2r-MuiBottomNavigation-root {
  z-index: 20;
}
/* 푸터 바텀메뉴 */
.MuiBottomNavigation-root{
  background:#6AA258;
}
/* 캘린더.윈도버전몇개더보기 */
/* .mbsc-windows.mbsc-calendar-text-more .mbsc-calendar-label-text{
  content: url("./img/iconUnder.png"); 
} */
/* 로그인화면 캐릭터 이미지 */
.greenihead{
/*    width: 30%; */
  margin-bottom: 5%; 
/*    margin-left: 10%; */
font-size: 23px;
    font-variant: all-petite-caps;
}
/* 로긴창 */
.divLogin{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
/*   margin-top: 5%; */
  padding:1px;
}
/* 로긴창 글씨*/
.greeniWelcome{
  font-size: large;
  font-weight: bold;
  margin-bottom: 10%;
}

/* + 버튼 */
/* .css-1suf56w-MuiButtonBase-root-MuiFab-root{
  background: #6AA258;
  margin-right:20px;
  box-shadow: none;
  z-index: 20;
}
.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected{
  color:#ffffff;
} */

/* +버튼 틀 */
/* .css-in5br9{
background: #73baad;
} */
/* 그리니 챗봇 */
.greeniChatbot{
  background : rgb(215, 237, 188) ;
}
/* 푸터 마진탑 제거 */
.css-1umtxyw {
  margin-bottom: 0%;
}

/* 회원가입로그인 블락 보더로 내리고 색상 넣기 */
.divLogin{
  /* margin-top: 60%;  */
/* margin-top: 50%; */
 
/*  background-color: #73baad; */
/*  z-index: 60; */
margin-top:90px ;
margin-bottom:90px ;
/* border-top:90px solid rgb(215, 237, 188);
 border-bottom:160px solid rgb(215, 237, 188) ; */
}

 
/* 푸터 아이콘배경 */
/* .css-i4bv87-MuiSvgIcon-root {
  background: brown;*/

/* 헤더알람배경 */
 
/* 헤더알람배경뒤 */
.HeaderAlarmBC{
  background: rgb(215, 237, 188)
}

/* 캘린더 배경 */
.fc-theme-standard{
  background: rgb(255, 255, 255);
  margin: 10px;
}

/* 전체 바탕색 */
:root{
  background: rgb(255, 255, 255);
}

/* 이벤트 추가 페이지 여백 */
.css-1okj3ks-MuiStack-root{
  margin: 25px;
}

/* 이벤트 추가 페이지 하단 '등록'버튼 */
.css-123ac5x-MuiButtonBase-root-MuiButton-root{
  background-color: #6AA258
}

/* 이벤트 추가 페이지 에 상단 일상루틴 버튼 */
.css-julti5-MuiSwitch-root{
  margin-top: 25px;
  margin-left: 30px;
}

/* 챗봇 채팅창 여백 작동ㅇ*/
/*   .bJddHQ{
  margin-left: 20px; 
}  */
 

/* .fc-today-button .fc-button .fc-button-primary{
background: turquoise;
}
.fc-button .fc-button-primary{
  background: turquoise;
  }
  .fc-button-primary{
    background: turquoise;
    }


    
.fc-today-button .fc-button  {
  background: turquoise;
  }

  
.fc-today-button  {
  background: turquoise;
  }


  .fc-direction-ltr .fc-toolbar > * > :not(:first-child){
    background: turquoise;
  }

  .fc-toolbar > * > :not(:first-child){
    background: turquoise;
  }

:not(:first-child){
    background: turquoise;
  } */